td {
    border: 2px solid #333333;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

table {
    border-collapse: collapse;
}

h1 {
    color: #afeeee;
    margin-bottom: 10%;;
}

.buttonReset {
    background-color: #afeeee; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.player1 {
    background-color: #ffe4e1;
}

.player2 {
    background-color: #afeeee;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
}
